body {
    background-color: yellowgreen; /* Cor de fundo suave */
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/* Estiliza a foto para ficar redonda */
img {
    width: 150px;
    height: 150px;
    border-radius: 50px 70px 0 50px; /* Deixa a imagem redonda */
    object-fit: cover; /* Ajusta o enquadramento */
    border: 3px solid #333; /* Adiciona uma borda sutil */
    margin-top: 20px;
}